<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand d-flex justify-content-center align-items-center" [routerLink]="['/']" routerLinkActive="router-link-active">
      <img src="/assets/img/tonnocoin.png" alt="" width="30" height="30" class="me-3">
      <div>
        <div>TNN</div>
        <div class="text-muted" style="margin-top: -10px;">tonnocoin</div>
        
      </div>
    </a>

    <button class="btn btn-outline-light" [routerLink]="['/settings']" routerLinkActive="router-link-active" >
      Settings
    </button>
  </div>
</nav>

<router-outlet></router-outlet>
